@import 'framework.less';         // Get all the framework



/* =======

   Writr Single Item Content/Writing

   ======= */


body.writr-item { // All Single Item Pages (editable or not)

    .writr-edit { // main writing/content area
        //min-height:80%;
    }

    .item-content {
        width:100%;
        border:none;
        &:focus {
            outline:none;
        }
    }



    .pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .l-box {
        padding: 1em;
    }

}
