@import 'framework.less';         // Get all the framework



/* =======

   Writr Single Item Content/Writing

   ======= */

body.writr-item { // All Single Item Pages (editable or not)

    .page-content {
        padding:2em 3em;
    }

    .item-content {
        width:100%;
        padding:1em 0 3em;
        min-height:300px;
        border:none;
        &:focus {
            outline:none;
        }
    }

    .stats {
        text-align:right;
        position:fixed;
    }

    .item-dirty {
        &.dirty {
            color:red;
        }
    }

}
