{% extends "writr/_writr_base.html" %}

{%- block title -%}
{{item.date|format_date}}
{%- endblock title -%}

{% block body_class %}writr-item{% endblock %}

{%- block content -%}
<div id="writr-item" data-id="{{item.id}}" class="pure-g">
    <div class="pure-u-5-24">
        <div class="item-date">
            {{item.date|format_date}}
        </div>
    </div>
    <div class="pure-u-14-24">
        {% if is_today %}
        <div class="item-content writr-edit" autofocus="true" contenteditable="true">
            {%- if item.content -%}
            {{item.content|safe}}
            {%- endif -%}
        </div>
        {% else %}
        <div class="item-content writr-stale">
            {{item.content|markdown|safe}}
        </div>
        {% endif %}
    </div>
    <div class="pure-u-5-24">
        <div class="item-stats">
            <div class="item-dirty"></div>
            <div class="item-words">
                <span class="item-words-count">{{item.word_count()}}</span> Words
            </div>
        </div>
    </div>
</div>
{%- endblock -%}


{%- block footer_js %}
    <script>
        var {{ config.PROJECT }} = {},
            NAMESPACE = {{ config.PROJECT }}; //namespace everything under here.
        {{ config.PROJECT }}.user = {
                                'id'     : '{{current_user.id}}',
                                'email'  : '{{current_user.email}}'
                            };
        {{ config.PROJECT }}.itemsBootstrap = [{{item.to_dict()|tojson|safe}}]
        {{ config.PROJECT }}.is_today = {{is_today|lower}}
        {{ config.PROJECT }}.apiURL = "{{url_for('writr.ItemAPI:index')}}"
        {{ config.PROJECT }}.childView = "item"
    </script>
    <script data-main="{{ url_for('static', filename='js/config')}}" src="{{ url_for('static', filename='ext/requirejs/require.js')}}"></script>
{%- endblock footer_js %}
